/* ExtraLight 200 */
@font-face {
  font-family: 'Manrope';
  src: url('/resources/fonts/Manrope-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/* Light 300 */
@font-face {
  font-family: 'Manrope';
  src: url('/resources/fonts/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Regular 400 */
@font-face {
  font-family: 'Manrope';
  src: url('/resources/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Medium 500 */
@font-face {
  font-family: 'Manrope';
  src: url('/resources/fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* SemiBold 600 */
@font-face {
  font-family: 'Manrope';
  src: url('/resources/fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Bold 700 */
@font-face {
  font-family: 'Manrope';
  src: url('/resources/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ExtraBold 800 */
@font-face {
  font-family: 'Manrope';
  src: url('/resources/fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (min-width: 1921px) and (max-height: 600px) {
  html {
    font-size: 55.5%;
  }
}
.mdl-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2e2e2e;
  transform: translateY(-100%);
  transition: 0.3s ease;
}
.mdl-header.show {
  transform: translateY(0%);
}
.mdl-header .m-carrito {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.mdl-header .m-carrito:hover span {
  transform: scale(1.15);
}
.mdl-header .m-carrito img {
  width: 3rem;
}
.mdl-header .m-carrito span {
  position: absolute;
  bottom: -0.3rem;
  right: -0.75rem;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 500;
  color: #FFFF;
  height: fit-content;
  z-index: 1;
  transition: 0.2s ease all;
}
.mdl-header .m-carrito span::before {
  content: '';
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  background-color: red;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
